<launch>
    <arg name="output" default="screen"/>

    <include file="$(find shark-mb-ros)/launch/shark_v1_description.launch">
        <arg name="arm_z_position" value="0"/>

        </include>
    <include file="$(find shark-mb-ros)/launch/shark_v1.launch">
        <arg name="use_rviz" value="false"/>
    </include>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="$(arg output)">
        <param name="xmin" value="-1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymax" value="1.0"/>
        <param name="lskip" value="10"/>
        <param name="linearUpdate" value="1.0"/>
        <param name="angularUpdate" value="0.5"/>
        <param name="maxRange" value="12.0"/>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shark-mb-ros)/rviz/slam.rviz" output="$(arg output)"/>
</launch>