<launch>
    <arg name="output" default="screen" />
    <include file="$(find shark-mb-ros)/launch/shark_v1.launch">
        <arg name="use_rviz" value="false" />
    </include>

    <arg name="map" default="$(find shark-mb-ros)/maps/arenashark.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"
        output="$(arg output)" />

    <include file="$(find shark-mb-ros)/config/amcl.launch.xml">
        <arg name="output" value="$(arg output)" />
    </include>

    <include file="$(find shark-mb-ros)/config/ekf.launch.xml"/>

    <arg name="cmd_vel" default="/hoverboard_velocity_controller/cmd_vel" />
    <arg name="odom" default="/odom" />
    <arg name="unknown_map" default="false" />
    <arg name="observation_sources" default="ground_scan" />

    <include file="$(find shark-mb-ros)/config/move_base.launch.xml">
        <arg name="cmd_vel_topic" value="$(arg cmd_vel)" />
        <arg name="odom_topic" value="$(arg odom)" />
        <arg name="output" value="$(arg output)" />
        <arg name="unknown_map" value="$(arg unknown_map)" />
        <arg name="observation_sources" value="$(arg observation_sources)" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shark-mb-ros)/rviz/slam.rviz"
        output="$(arg output)" />
</launch>