<launch>
    <arg name="output" default="screen"/>
    <arg name="use_rviz" default="true"/>

    <include file="$(find shark-mb-ros)/launch/shark_v1_description.launch"/>

    <include file="$(find hoverboard_driver)/launch/hoverboard.launch"/>

    <include file="$(find shark-mb-ros)/config/urg.launch.xml"/>

    <remap from="/cmd_vel" to="/hoverboard_velocity_controller/cmd_vel"/>

    <include file="$(find teleop_twist_joy)/launch/teleop.launch">
        <arg name="joy_config" value="atk3"/>
    </include>
    
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shark-mb-ros)/rviz/base.rviz" output="$(arg output)"/>
    </group>

</launch>