<launch>
    <arg name="output" default="screen"/>
    <arg name="cmd_vel" default="/hoverboard_velocity_controller/cmd_vel" />
    <arg name="odom" default="/hoverboard_velocity_controller/odom" /> <!-- Must be a nav/ododmetry msg, not pose (dont use robot_pose_ekf/Combined)  -->
    <arg name="unknown_map" default="true" />
    <arg name="observation_sources" default="body_scan ground_scan" />

    <include file="$(find shark-mb-ros)/launch/shark_v1.launch">
        <arg name="use_rviz" value="false"/>
    </include>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="$(arg output)">
        <param name="xmin" value="-1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymax" value="1.0"/>
        <param name="lskip" value="10"/>
        <param name="linearUpdate" value="1.0"/>
        <param name="angularUpdate" value="0.5"/>
        <param name="maxRange" value="12.0"/>
    </node>

    <include file="$(find shark-mb-ros)/config/move_base.launch.xml">
        <arg name="cmd_vel_topic" value="$(arg cmd_vel)" />
        <arg name="odom_topic" value="$(arg odom)" />
        <arg name="output" value="$(arg output)" />
        <arg name="unknown_map" value="$(arg unknown_map)" />
        <arg name="observation_sources" value="$(arg observation_sources)" />
    </include>
    
</launch>